<h2>Edit Merchant</h2>
<hr />
<table>
  <tr>
    <td><form action="/merchants/<%= @merchant.id %>" method="post">
      <input type="text" name="name" value="<%=  @merchant.name%>">
      <button type="submit"> Update </button>
    </form></td>
  </tr>
</table>
