<table>
  <tr>
    <td><form action="/merchants/<%= @merchant.id %>" method="post">
      <input type="text" name="name" value="<%=  @merchant.name%>">
      <input type="submit" value="Update"> </input>
    </form></td>
  </tr>
</table>
