<h2>Add new merchant</h2>
<hr />
<table>
  <tr>
    <td><form action="/merchants" method="post">
      <input type="text" name="name" >
      <button type="submit"> Save </button>
    </form></td>
  </tr>
</table>
