<h3>Add new merchant</h3>

<table>
  <tr>
    <td><form action="/merchants" method="post">
      <input type="text" name="name" >
      <input type="submit" value="Save"> </input>
    </form></td>
  </tr>
</table>
