<h2>Merchants</h2>
<hr />
<table>
  <tr>
    <td><form action="/merchant/new" method="get">
      <button type="submit"> Add Merchant </button>
    </form></td>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td style="width:300px"><%= merchant.name %></td>
    <td><form action="/merchants/<%= merchant.id %>/delete" method="get">
      <button type="submit"> Delete </button>
    </form></td>
    <td><form action="/merchants/<%= merchant.id %>/edit" method="get">
      <button type="submit"> Edit </button>
    </form></td>
  </tr>
  <% end %>
</table>
