<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="/style.css"> -->
    <title></title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet"> -->
  </head>
  <body>
    <h1>Spendee</h1>

    <%= yield %>

  </body>
</html>
