<h2>Categories</h2>
<hr />
<table>
  <tr>
    <td><form action="/category/new" method="get">
      <button type="submit"> Add Category </button>
    </form></td>
  </tr>
  <% for category in @categories %>
  <tr>
    <td style="width:300px"><%= category.name %></td>
    <td><form action="/categories/<%= category.id %>/delete" method="get">
      <button type="submit"> Delete </button>
    </form></td>
    <td><form action="/categories/<%= category.id %>/edit" method="get">
      <button type="submit"> Edit </button>
    </form></td>
  </tr>
  <% end %>
</table>
