
<form action="/users" method="post">

  <label for="first_name">First Name:</label><br>
  <input type="text" name="first_name" id="first-name-field" placeholder="Your name.."><hr>

  <label for="last_name">Last Name:</label><br>
  <input type="text" name="last_name" id="last-name-field" placeholder="Your last name.."><hr>

  <label for="username">Preffered name:</label><br>
  <input type="text" name="username" id="username-field" placeholder="Your preffered name to display.."><hr>

  <label for="balance">Starting balance:</label><br>
  <input type="number" name="balance" id="balance-field" min="0" step="0.01" placeholder="Your balance at the beginning..">

  <hr>

  <button type="submit"> Save </button>

</form>
