<table>
  <tr>
    <td><h1><%= @user.username %></h1></td>
  </tr>
  <tr>
    <td><h3>Top-up account</h3></td>
  </tr>
  <tr>
    <td><form action="/user/<%=@user.id%>/top_up" method="post">
      <input type="text" name="balance">
      <button type="submit"> Top Up </button>
      </form>
    </td>
  </tr>
</table>
